pyrogram
TgCrypto
telethon
art
asyncio
aiohttp
requests
firebase_admin
pyromod
emoji
googletrans==3.1.0a0
motor
psutil
TgCrypto
python-arq
requests
python-dotenv
regex!
cachetools
pytz
dateparser
gpytranslate
EmojiCaptcha
captcha
googletrans
telegraph
pyyaml
cachetools
speedtest-cli
wget
